<div class="navbar">
  <div class="navbar-left">
    <span class="logo">A F T E R T H AT</span>
  </div>
  <div class="navbar-right">
    <a href="/pages/about">ABOUT</a>
    <a href="/cart">CART</a>
  </div>
</div>
