<div class="navbar">
  <a href="/" class="logo">
    <img src="https://cdn.shopify.com/s/files/1/0623/6451/6470/files/AFTERTHAT_LOGOFULL_BLACK.png?v=1743265347" alt="AFTER T H AT Logo" class="logo-img">
  </a>
  <div class="navbar-right">
    <a href="/pages/about">ABOUT</a>
  <a href="/cart">
    CART<span id="cart-count">{% if cart.item_count > 0 %}({{ cart.item_count }}){% endif %}</span>
  </a>
  </div>
</div>
