{% layout 'theme' %}

<div class="landing fullscreen-below-navbar">
  <video class="landing-video-bg" autoplay muted loop playsinline>
    <source src="https://cdn.shopify.com/videos/c/o/v/caa236ee90614ecda09461119bdcbec8.mp4" type="video/mp4">
  </video>

  <!-- Navigation links -->
    <div class="nav-wrapper">
      <a href="/collections/shop-all" class="nav-link nav-top-left">SHOP ALL</a>
      <a href="#" class="nav-link nav-top-right">NEW COLLECTION</a>
      <a href="#" class="nav-link nav-bottom-left">SALE</a>
      <a href="https://www.instagram.com/afterthat135/" target="_blank" class="nav-link nav-bottom-right">INSTAGRAM</a>
    </div>

    <!-- Decorative plus signs -->
    <div class="plus-wrapper">
      <div class="plus plus-top-left">+</div>
      <div class="plus plus-top-right">+</div>
      <div class="plus plus-bottom-left">+</div>
      <div class="plus plus-bottom-right">+</div>
    </div>
</div>
