{% layout 'theme' %}

<div class="landing fullscreen-below-navbar" style="background-image: url('{{ 'landing_screenshot.png' | file_url }}');">
  <!-- Decorative plus signs -->
  <div class="plus-wrapper">
    <div class="plus plus-top-left">+</div>
    <div class="plus plus-top-right">+</div>
    <div class="plus plus-bottom-left">+</div>
    <div class="plus plus-bottom-right">+</div>
  </div>

  <!-- Navigation links -->
  <div class="nav-wrapper">
    <a href="/pages/shop-all" class="nav-link nav-top-left">SHOP ALL</a>
    <a href="#" class="nav-link nav-top-right">NEW COLLECTION</a>
    <a href="#" class="nav-link nav-bottom-left">SALE</a>
    <a href="https://www.instagram.com/afterthat135/" target="_blank" class="nav-link nav-bottom-right">INSTAGRAM</a>
  </div>
</div>
