{% layout 'theme' %}

<div class="landing">
  <video class="desktop landing-video-bg" autoplay muted loop playsinline>
    <source src="https://cdn.shopify.com/videos/c/o/v/5684633ec0524205b12a44b3c978325c.mp4" type="video/mp4">
  </video>
<img class="mobile landing-video-bg" src="https://cdn.shopify.com/s/files/1/0623/6451/6470/files/BG_screenshot.jpg?v=1743263419" alt="Mobile Landing Background"> 

  <!-- Navigation links -->
    <div class="nav-wrapper">
      <a href="/collections/shop-all" class="nav-link nav-top-left">SHOP ALL</a>
      <a href="/collections/new-collection" class="nav-link nav-top-right">NEW COLLECTION</a>
      <a href="/collections/sale" class="nav-link nav-bottom-left">SALE</a>
      <a href="https://www.instagram.com/afterthat135/" target="_blank" class="nav-link nav-bottom-right">INSTAGRAM</a>
    </div>

    <!-- Decorative plus signs -->
    <div class="plus-wrapper">
      <div class="plus plus-top-left">+</div>
      <div class="plus plus-top-right">+</div>
      <div class="plus plus-bottom-left">+</div>
      <div class="plus plus-bottom-right">+</div>
    </div>
</div>
