{% layout 'theme' %}

<div class="landing">
  <div class="landing-visuals">
    <div class="video-wrapper">
      <video class="desktop landing-video-bg" preload="auto" autoplay muted loop playsinline>
        <source src="https://cdn.shopify.com/videos/c/o/v/b3783dfdf6904d6789edaa76c80ea023.mp4" type="video/mp4">
      </video>
    </div>
      <video class="mobile landing-video-bg" preload="auto" autoplay muted loop playsinline>
        <source src="https://cdn.shopify.com/videos/c/o/v/036fda5857da4c5484005e1501187076.mp4" type="video/mp4">
      </video>
  </div>

    <!-- Decorative plus signs -->
    <div class="plus-wrapper">
      <div class="plus plus-top-left">+</div>
      <div class="plus plus-top-right">+</div>
      <div class="plus plus-bottom-left">+</div>
      <div class="plus plus-bottom-right">+</div>
    </div>
    
  <!-- Navigation links -->
    <div class="nav-wrapper">
      <a href="/collections/shop-all" class="nav-link nav-top-left underline-hover">SHOP ALL</a>
      <a href="/collections/new-collection" class="nav-link nav-top-right underline-hover">NEW COLLECTION</a>
      <a href="/collections/sale" class="nav-link nav-bottom-left underline-hover">SALE</a>
      <a href="https://www.instagram.com/afterthat135/" target="_blank" class="nav-link nav-bottom-right underline-hover">INSTAGRAM</a>
    </div>

  <!-- INTRO -->
    <div id="intro-screen">
      <img id="logo-overlay" src="https://cdn.shopify.com/s/files/1/0623/6451/6470/files/AFTERTHAT_MONOGRAM_white.png?v=1744742121" alt="Logo">
    </div>    
</div>
