{% layout 'theme' %}
{% assign page_title = "ABOUT" %}

<main class="about-page">

  <div class="about-right mobile">
    <img src="https://cdn.shopify.com/s/files/1/0623/6451/6470/files/AFTERTHAT_MONOGRAM.png?v=1744647928" alt="About image">
  </div>

  <div class="about-left">

    <div class="about-left-content">
      <p>
        AT135 emerges where form dissolves into intention, where the unseen shapes the essential. It exists for those who navigate the peripheries, moving beyond convention to uncover the unspoken. Neither raw nor refined, but something other—a quiet defiance, layered with meaning for those who look twice.
        <br><br><br>
        In a world of machines, the process will be repeated twice.
        <br><br><br>
      </p>
      <div class="about-contact">
        <div id="about-contact-contact"><p>CONTACT:</p></div>
        <div id="about-contact-info">
          <p><a href="mailto:afterthat135@gmail.comß" class="underline-always">EMAIL</a>
          <a href="https://www.instagram.com/afterthat135/" class="underline-always">INSTAGRAM</a>
          <a href="https://www.tiktok.com/@afterthat135" class="underline-always">TIKTOK</a></p>
        </div>
      </div>
    </div>  

    <p class="about-footer">© AFTERTHAT / ALL RIGHTS RESERVED</p>
  </div>

  <div class="about-right desktop">
    <img src="https://cdn.shopify.com/s/files/1/0623/6451/6470/files/AFTERTHAT_MONOGRAM.png?v=1744647928" alt="About image">
  </div>
</main>
