{% layout 'theme' %}
{% assign page_title = "ABOUT" %}

<main class="about-page">
  <div class="about-left">

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus dictum nisl, in vulputate dui ornare vel. Etiam lobortis sit amet tellus sed viverra. Duis pellentesque lacinia urna, eget vehicula nibh consequat nec. Suspendisse ac porttitor urna, eget euismod nibh. Phasellus dignissim, purus at pellentesque placerat, justo est feugiat arcu, nec ultricies nisi augue quis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus dictum nisl, in vulputate dui ornare vel. Etiam lobortis sit amet tellus sed viverra. Duis pellentesque lacinia urna, eget vehicula nibh consequat nec. Suspendisse ac porttitor urna, eget euismod nibh. Phasellus dignissim, purus at pellentesque placerat, justo est feugiat arcu, nec ultricies nisi augue quis magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus dictum nisl, in vulputate dui ornare vel. Etiam lobortis sit amet tellus sed viverra. Duis pellentesque lacinia urna, eget vehicula nibh consequat nec. Suspendisse ac porttitor urna, eget euismod nibh. Phasellus dignissim, purus at pellentesque placerat, justo est feugiat arcu, nec ultricies nisi augue quis magna.
    </p>

    <div class="about-contact">
      <p><a href="#">EMAIL US</a></p>
      <p>FACEBOOK<br>INSTAGRAM<br>TIKTOK</p>
    </div>

    <p class="about-footer">© AFTERTHAT / ALL RIGHTS RESERVED</p>
  </div>

  <div class="about-right">
    <img src="https://cdn.shopify.com/s/files/1/0623/6451/6470/files/BG_screenshot.jpg?v=1743263419" alt="About image">
  </div>
</main>
